@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
  /* cursor: none !important; */

}

::selection {
  color: white;
  background-color: var(--foreground-color);
}

.title-font {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --secondary-color: #013300;
  --background-color: #015800;
  --foreground-color: #079905;
  --text-color: #f5f5f7;
  --background-dark: #000000;
}


.alert-box {
  background-color: var(--foreground-color);
  padding: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 10rem;
  min-height: 5rem;
  max-width: 50%;
  max-height: 50%;
}