@import "tailwindcss";

@theme {
  --color-black: #111111;
  --color-green-500: #06923E;
  --color-green-400: #0ac208;
  --color-gray-900: #0f172a;
  --color-gray-800: #1e293b;
  --color-gray-400: #94a3b8;
  --color-gray-50: #f8fafc;
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    @apply bg-black text-gray-50 font-sans antialiased overflow-x-hidden selection:bg-green-500/30 selection:text-green-400;
  }

  /* Hide scrollbar completely but retain scrolling */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
  }

  * {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
  }
}

@layer utilities {
  .glass {
    @apply bg-gray-900/10! backdrop-blur-md border border-white/10;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-linear-to-r from-gray-50 to-gray-400;
  }

  .text-gradient-green {
    @apply bg-clip-text text-transparent bg-linear-to-r from-green-400 to-green-500;
  }
}